@media (max-width: 1580px) {

    body {
        font-size: 0.9rem;
    }

    /*---------Стили для Хэдера----------*/

    header {
        height: 600px;
    }

    .main_info {
        margin-left: 8%;
        width: 300px;
    }


    .main_media::after {
        content: "";
        position:absolute;
        top: 12px;
        left: 145px;
        width: 70px;
        height: 3px;
        background-color: #000000;
    }

    .main_info {
        margin-left: 13%;
        width: 300px;
    }

    .main_h4 {
        padding-bottom: 3px;
    }
    
    .main_nav {
        margin-top: 25px;  
    }


    /*-----------Блок Опыт-----------*/

    .education-work li {
        padding-bottom: 50px;
        position: relative;
        height: 150px;
        width: 90%;
    }

    /*------Большие вертикальные линии у подзаголовков----------*/

    .education-work h4::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -42px;
        z-index: -2;
        width: 0.8px;
        height: 1510%;
        background-color: #000000;
    }


    /*--------Блок Навыки---------*/

    .skills_container div {
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 20px;
        width: 230px;
        height: 275px;
    }
}


@media (max-width: 1350px) {
    /*--------Стили для article-----------*/

    .all-info {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: -100px;
    }
    

    /*---------Стили для Хэдера-------------*/

    header {
        height: 700px;
    }

    .main_media {
        margin-top: 15%;
    }

    .main_info {
        margin-left: 8%;
        width: 300px;
    }


    /*--------Стили для главных изображений--------*/

    .main_img {
        width: 350px;
        height: 550px;
    }

    /*-----Большой оранжевый круг у заголовка---------*/

    .menu::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 48%;
        z-index: -1;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color:#FFA501;
    }

    /*-----Маленькая оранжевая линия под заголовками----------*/

    .menu::after {
        content: "";
        position: absolute;
        top: 95px;
        left: 47.5%;
        z-index: -1;
        width: 50px;
        height: 3px;
        background-color:#FFA501;
    }

    /*-------Блок Про меня---------*/

    .about-me_work-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-me_work-info p {
        margin-top: 10px; 
    }

    .work-info_container_text {
        padding-top: 15px; 
        margin-left: 40px;   
        width: 94%;
    }


    /*---------Блок Навыки-----------*/

    .skills_container div {
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 20px;
        width: 270px;
        height: 270px;
    }

    /*------Блоки со шкалой процентов--------*/

    .skills_scale div {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 27%;
        margin-right: 30px;
        height: 100px;
        padding-left: 15px;
    }

    /*----Блок Контакты-----*/

    .floating .message_input {
        height: 155px;
    }
}


@media (max-width: 1180px) {
    
    /*--------Стили для article-----------*/

    .all-info {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: -150px;
    }

    /*---------Стили для Хэдера-------------*/

    header {
        height: 600px;
    }

    .main_media {
        margin-top: 15%;
    }

    .main_info {
        margin-left: -2%;
        margin-top: 10%;
        width: 300px;
    }


    /*---------Блок Про меня------------*/

    .main_img {
        width: 270px;
        height: 470px;
        object-fit: cover;
    }

    .wrapper {
        margin-left: 15px; 
    }

    .about-me_work-info p {
        margin-top: 10px; 
    }

    .work-info_container_text {
        padding-top: 15px; 
        margin-left: 40px;   
        width: 90%;
    }

    /*------Большие вертикальные линии у подзаголовков----------*/

    .education-work h4::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -42px;
        z-index: -2;
        width: 0.8px;
        height: 1630%;
        background-color: #000000;
    }


    /*----------Блок Опыт----------*/

    .education-work li {   
        padding-bottom: 50px;
        position: relative;
        height: 180px;
        width: 95%;
    }

/*------------Стили для блока experience: education----------------*/

    .education_info {
        display: flex;
        width: 330px;
    }
    
    /*------------Стили для блока experience: work----------------*/
    
    .work_info {
        display: flex;
        width: 330px;
    }


    /*--------Блок Навыки----------*/

    .skills_container div {
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 10px;
        width: 220px;
        height: 240px;
    }

    .skills_img {
        width: auto;
        height: 35px;
    }


    /*----------Блок Прайс-лист----------*/
    .prices {
        margin: 0 3%;
        width: 280px;
        margin-bottom: 20px;
        position: relative;
    }


    /*-----------Блок Контакты-----------*/

    .contacts_wrapper {
        margin-left: 40px; 
        width: 60%;
    }

    .contacts_media img {
        width: 25px;
        height: 25px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .floating .message_input {
        height: 90px;
    }



}

@media (max-width: 850px) {
   
    /*---------Стили для Хэдера------------*/

    header {
        background-size: 150% 75%;
        background-position-x: center;
    }

    .main_media {
        margin-top: 150px;
    }

    .main_info {
        margin-top: 15vh;
        margin-left: -17%;
        width: 300px;
    }


    /*----------Блок Обо мне-----------*/

    .about-me {
        flex-direction: column;
    }

    .main_img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 50px;
    }

    .wrapper {
        margin-left: 0px; 
    }
    
    .about-me_work-info p {
        width: 90%;
    }

    .work-info_container {
        position: relative;
        width: 45%;
    }
    
    .work-info_container_1 {
        position: relative;
        width: 45%;
    }

    /*----------Заголовок блока Обо мне------------*/

    .about-me_menu {
        position: relative;
        margin-bottom: 25px;
        text-align: center;
    }

    .about-me_menu_h4 {
        position: relative;
        padding-bottom: 12px;  
        padding-left: 8px;
    }

    /*-----Большой оранжевый круг у заголовка---------*/

    .about-me_menu_h4::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 47.6%;
        z-index: -1;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color:#FFA501;  
    }

    /*-----Маленькая оранжевая линия под заголовками----------*/

    .about-me_menu_h4::after {
        content: "";
        position: absolute;
        top: 85px;
        left: 46.6%;
        z-index: -1;
        width: 50px;
        height: 3px;
        background-color:#FFA501;
    }

    /*-------Большой оранжевый круг у заголовка (Для всех заголовков)---------*/

    .menu::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 47%;
        z-index: -1;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color:#FFA501;
    }

    /*-------Маленькая оранжевая линия под заголовками (Для всех заголовков)----------*/

    .menu::after {
        content: "";
        position: absolute;
        top: 95px;
        left: 46%;
        z-index: -1;
        width: 50px;
        height: 3px;
        background-color:#FFA501;
    }

    /*----------Блок Опыт----------*/


    .education-work {
        display: flex;
        flex-wrap: wrap;
        padding-left: 80px;
        margin: 0 auto;
        justify-content: space-around;
    }

    .education-work li {   
        padding-bottom: 50px;
        position: relative;
        height: 180px;
        width: 95%;
    }
    
    .education-work h5 {
       width: 87%;
    }

    .education-work h6 {
        width: 87%;
     }

    .education-work p {
        width: 87%;
    }

    /*------Большие вертикальные линии у подзаголовков----------*/

    .education-work h4::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -42px;
        z-index: -2;
        width: 0.8px;
        height: 1800%;
        background-color: #000000;
    }
    
    /*------------Стили для блока exprience: education--------------------*/

    .experience_education {
        margin: 0 auto;
    }


    /*--------Блок Портфолио-----------*/

    .portfolio_works {
        justify-items: stretch;
        display: grid;
        gap: 5px; 
        grid-template-columns: (2, 200px);
        grid-template-rows: (4, 200px);
        grid-template-areas: 
            "uber pulse"
            "bread plans"
            "ipad plans"
            "mac mac";
    }

    /*-------------Блок Прайс-лист--------------*/

    .menu_price::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 46.5%;
        z-index: -1;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color:#FFA501;
    }

    .menu_price::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 45.5%;
        z-index: -1;
        width: 50px;
        height: 3px;
        background-color:#FFA501;
    }


    /*-----------Блок Контакты------------*/

    .contacts {
        flex-direction: column;
    }

    .contacts_wrapper {
        margin-left: 0px; 
        width: 100%;
    }

    /*-------------Заголовок блока Контакты----------------*/

    .contacts_menu {
        position: relative;
        margin-bottom: 25px;
        text-align: center;
    }

    .contacts_menu_h4 {
        position: relative;
        padding-bottom: 12px;  
        padding-left: 8px;
    }

    .contacts_button {
        margin-top: 15px;   
    }

    /*-----Большой оранжевый круг у заголовка---------*/

    .contacts_menu_h4::before {
        top: -7px;
        left: 47.6%;
    }

    /*-----Маленькая оранжевая линия под заголовками----------*/

    .contacts_menu_h4::after {
        top: 85px;
        left: 46.6%;
    }

}

@media (max-width: 500px) {

    /*---------Стили для Хэдера------------*/

    header {
        background-size: 150% 150%;
        background-position-x: inherit;
    }



    /*--------Блок Портфолио-----------*/

    .portfolio_works {
        justify-items: stretch;
        display: grid;
        gap: 5px; 
        grid-template-columns: (1, 200px);
        grid-template-rows: (6, 200px);
        grid-template-areas: 
            "uber"
            "pulse"
            "bread"
            "plans"
            "ipad"
            "mac";
    }

    .mac_1 { 
        grid-area: mac; 
    }
    
    .plans_1 {
        grid-area: plans;
    }
}