@media (max-width: 1580px) {

    body {
        font-size: 0.9rem;
    }

    /*---------Стили для Хэдера----------*/

    header {
        height: 600px;
    }

    .navigation {
        height: 600px;
    }

    .main_info {
        margin-left: 8%;
        width: 300px;
    }

    .main_media::after {
        top: 12px;
        left: 145px;
    }

    .main_info {
        margin-left: 13%;
        width: 300px;
    }

    .main_h4 {
        padding-bottom: 3px;
    }
    
    .main_nav {
        margin-top: 25px;  
    }


    /*-----------Блок Опыт-----------*/

    .education-work li {
        padding-bottom: 50px;
        position: relative;
        height: 150px;
        width: 90%;
    }


    /*--------Блок Навыки---------*/

    .skills_container {
        margin-right: 0%;
        margin-left: 0%;
    }

    .skills_container div {
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 20px;
        width: 230px;
        height: 275px;
    }
}


@media (max-width: 1350px) {
    /*--------Стили для article-----------*/

    .all-info {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: -100px;
    }
    

    /*---------Стили для Хэдера-------------*/

    header {
        height: 700px;
    }

    .navigation {
        height: 700px;
    }

    .main_media {
        margin-top: 15%;
    }

    .main_info {
        margin-left: 8%;
        width: 300px;
    }


    /*--------Стили для главных изображений--------*/

    .main_img {
        width: 350px;
        height: 550px;
    }


    /*-------Блок Про меня---------*/

    .about-me_work-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-me_work-info p {
        margin-top: 10px; 
    }

    .work-info_container_text {
        padding-top: 15px; 
        margin-left: 40px;   
        width: 94%;
    }


    /*---------Блок Навыки-----------*/

    .skills_container div {
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 20px;
        width: 270px;
        height: 270px;
    }

    /*------Блоки со шкалой процентов--------*/

    .skills_scale div {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 27%;
        margin-right: 30px;
        height: 100px;
        padding-left: 15px;
    }


    /*----Блок Контакты-----*/

    .floating .message_input {
        height: 155px;
    }
}


@media (max-width: 1180px) {
    
    /*--------Стили для article-----------*/

    .all-info {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: -150px;
    }


    /*---------Стили для Хэдера-------------*/

    header {
        height: 600px;
    }

    .main_media {
        margin-top: 15%;
    }

    .main_info {
        margin-left: -2%;
        margin-top: 10%;
        width: 300px;
    }


    /*---------Блок Обо мне------------*/

    .about-me {
        margin-top: 10%;
    }

    .main_img {
        width: 270px;
        height: 470px;
        object-fit: cover;
    }

    .wrapper {
        margin-left: 15px; 
    }

    .about-me_work-info p {
        margin-top: 10px; 
    }

    .work-info_container_text {
        padding-top: 15px; 
        margin-left: 40px;   
        width: 90%;
    }


    /*----------Блок Опыт----------*/

    .education-work li {   
        padding-bottom: 50px;
        position: relative;
        height: 180px;
        width: 95%;
    }

    /*------------Стили для блока experience: education----------------*/

    .education_info {
        display: flex;
        width: 330px;
    }
    
    /*------------Стили для блока experience: work----------------*/
    
    .work_info {
        display: flex;
        width: 330px;
    }


    /*--------Блок Навыки----------*/

    .skills_container div {
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 10px;
        width: 220px;
        height: 240px;
    }

    .skills_img {
        width: auto;
        height: 35px;
    }


    /*----------Блок Прайс-лист----------*/
    .prices {
        margin: 0 3%;
        width: 280px;
        margin-bottom: 20px;
        position: relative;
    }


    /*-----------Блок Контакты-----------*/

    .contacts_wrapper {
        margin-left: 40px; 
        width: 60%;
    }

    .contacts_media img {
        width: 25px;
        height: 25px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .floating .message_input {
        height: 90px;
    }

}

@media (max-width: 850px) {
   
    /*---------Стили для Хэдера------------*/

    header {
        background-size: 150% 75%;
        background-position-x: center;
        height: 90vh;
    }

    .main_media {
        width: 0px;
        height: 0px;
    }

    .main_info {
        margin: 20vh auto;
        width: 300px;
    }


    /*----------Блок Обо мне-----------*/

    .about-me {
        margin-top: 100px;
        flex-direction: column;
    }

    .main_img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 50px;
    }

    .wrapper {
        margin-left: 0px; 
    }
    
    .about-me_work-info p {
        width: 90%;
    }

    .work-info_container {
        position: relative;
        width: 45%;
    }
    
    .work-info_container_1 {
        position: relative;
        width: 45%;
    }

    /*----------Заголовок блока Обо мне------------*/

    .about-me_menu {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 25px;
        text-align: center;
        justify-content: space-around;
    }
    
    .about-me_menu h4 {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .about-me_menu h4::before {
        left: 33px;
    }

    .about-me_menu h4::after {
        left: 28px;
    }


    /*----------Блок Опыт----------*/

    .education-work {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0px;
        margin: 0 auto;
        justify-content: space-around;
        padding-left: 15%;
    }

    .education-work li {   
        padding-bottom: 50px;
        position: relative;
        height: 180px;
        width: auto;
    }
    
    .education-work h5 {
       width: 87%;
    }

    .education-work h6 {
        width: 87%;
     }

    .education-work p {
        width: 87%;
    }
    

    /*------------Стили для блока exprience: education--------------------*/

    .experience_education {
        margin-left: auto;
        margin-right: auto;
    }

    .education_info {
        display: flex;
        width: 90%;
    }
    
    /*------------Стили для блока experience: work----------------*/

    .experience_work {
        margin-left: auto;
        margin-right: auto;
    }

    
    .work_info {
        display: flex;
        width: 90%;
    }


    /*-----------Блок Навыки-------------*/

    .skills_container {
        justify-content: center;
        margin-right: auto;
        margin-left: 0%;
    }

    /*--------Блок Портфолио-----------*/

    .portfolio_works {
        justify-items: stretch;
        display: grid;
        gap: 5px; 
        grid-template-columns: (2, 200px);
        grid-template-rows: (4, 200px);
        grid-template-areas: 
            "uber pulse"
            "bread plans"
            "ipad plans"
            "mac mac";
    }


    /*-----------Блок Контакты------------*/

    .contacts {
        flex-direction: column;
    }

    .contacts_wrapper {
        margin-left: 0px; 
        width: 100%;
    }

    /*-------------Заголовок блока Контакты----------------*/

    .contacts_menu {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 25px;
        text-align: center;
        justify-content: space-around;
    }

    .contacts_menu_h4 {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .contacts_button {
        margin-top: 15px;   
    }

    .contacts_menu_h4::before {
        left: 33px;
    }

    .contacts_menu_h4::after {
        left: 28px;
    }

    .floating .message_input {
        height: 150px;
    }
}

@media (max-width: 575px) {
    /*---------Блок Навыки------------*/

    .skills_scale div {
        width: 95%;
        min-width: 220px;
        margin: 0 10%;
    }
}

@media (max-width: 515px) {

    /*---------Стили для Хэдера------------*/

    header {
        background-image: url(../src/Background/BackgroundPhone.png);
        background-position-x: none;
        background-size: 100% 100%;
        height: 100vh;
    }

    .main_div {
        flex-direction: column-reverse;
        margin-left: 10px;
    }

    /*---------Стили бля блока media--------------*/

    .main_media { 
        width: 0px;
        height: 0px;
    }

    .main_media::after {
        left: 48%;
    }
    
    /*---------Стили для блока info--------------*/

    .main_info {
        margin: 0 auto;
        width: 100%;
    }

    /*-------------------Стили для article--------------*/

    .all-info {
        margin-top: 50px;
    }


    /*----------Блок Обо мне-----------*/

    .about-me_work-info div {
        width: 90%;
        margin-bottom: 15px;
    }

    .work-info_container {
        margin-left: 15px;
    }

    .work-info_container_1 {
        margin-left: 15px;
    }
    
    .about-me_work-info p {
        margin-left: 10px; 
    }

    .about-me_work-info h4 {
        margin-left: 10px; 
    }

    /*----------Блок Опыт------------*/

    .education-work {
        margin-left: 0px;
        justify-content: flex-start;
        padding-left: 20%;
        width: 90%;
    }

    .education-work li {   
        height: 50%;
        width: 100%;
    }

    .education-work h5 {
        width: 100%;
    }
 
    .education-work h6 {
        width: 100%;
    }
 
    .education-work p {
        width: 100%;
    }

    /*------------Стили для блока experience: education----------------*/

    .education_info {
        display: flex;
        width: 100%;
    }
        
    /*------------Стили для блока experience: work----------------*/        

    .work_info {
        display: flex;
        width: 100%;
    }

    /*---------Блок Навыки------------*/

    .skills_container {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .skills_container div {
        width: 80%;
        height: 260px;
    }

    .skills_img {
        width: auto;
        height: 40px;
    }

    .skills_scale div {
        width: 95%;
        min-width: 220px;
        margin: 0 auto;
    }

    /*--------Блок Портфолио-----------*/

    .price-list {
        margin-top: 50px;
    }

    .portfolio_works {
        margin-left: 5%;
        width: 90%;
        justify-items: stretch;
        display: grid;
        gap: 20px; 
        grid-template-columns: 1fr;
        grid-template-rows: (6, 200px);
        grid-template-areas: 
            "uber"
            "pulse"
            "bread"
            "plans"
            "ipad"
            "mac";
    }

    .mac {
        width: 0%;
        height: 0%;
    }
    .mac_1 { 
        width: 100%;
        height: 100%;
        grid-area: mac; 
    }
 
    .plans {
        width: 0%;
        height: 0%;
    }   

    .plans_1 {
        width: 100%;
        height: 100%;
        grid-area: plans;
    }

    /*---------Блок Прайс-лист------------*/

    .prices {
        width: 320px;
        min-width: 100px;
        margin-left: 20px;
        margin-bottom: 20px;
        position: relative;
    }

    /*---------Блок Контакты----------*/

    .contacts {
        margin-top: -25px;
    }

    .floating .message_input {
        height: 150px;
    }

    .end_img {
        width: 0px;
        height: 0px;
    }
}

@media (max-width: 298px) {
    .skills .menu h4::after {
        top: 125px;
    }
}