/*--------------------Стили для всей страницы-------------------*/

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Нужен для того, чтобы фоновое изображение растягивалось на всю ширину */
}

section {
    margin-top: 10%;  /*Отступ между разными sections, чтобы они не слипались друг с другом*/
}

/*--------------------Стили для блока header--------------------*/

header {
    width: 100%;
    height: 80vh;
    background-image: url(src/Background/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main {
    display: flex;
}

.main_div {
    display: flex;
    margin-top: 20vh; 
}

/*----------Стили для header (Три черные линии)---------------------*/

.lines {
    margin: 0 0 0 auto; /* Смещает черные линии к правому краю страницы */    
}

.black-line {
    position: relative;
    top: 30px;
    left: -30px;
    width: 36px;
    height: 3.5px;
    background-color: #000000;
}

.black-line::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 6px;
    width: 30px;
    height: 3px;
    background-color: #000000;
}

.black-line::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 6px;
    width: 30px;
    height: 3px;
    background-color: #000000;
}

/*---------Стили бля блока media--------------*/

.main_media { 
    display: flex;
    flex-direction: row;
    margin-left: -100px;
    margin-top: 100px;
    transform: rotate(-90deg);
    max-height: 120px;
    position: relative; 
    width: 350px; 
}

.main_media p {
    max-width: 155px;
    margin-right: 100px;
}

.main_media img{
    width: 15px;
    height: 15px;
    margin-top: 5.5px;
    margin-right: 10px;
    transform: rotate(90deg);  
} 

.main_media::after {
    content: "";
    position:absolute;
    top: 12px;
    left: 155px;
    width: 70px;
    height: 3px;
    background-color: #000000;
}

/*-------Стили для блока info----------*/

.main_info {
    margin-left: 150px; /*Задаем отступ от предыдущего блока*/
    width: 350px;
}

.main_h4 {
    margin-left: 10px; /*Выравниваем внутри блока второстепенный заголовок*/
    position: relative;
    z-index: 1;
}

.main_h4::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -12px;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color:#FFA501;
}

.main_portfolio {
    background-color: #FFA501;
    box-shadow: 0 4px 5px 1px #2c2b2b23;
}

.main_portfolio:hover {
    background-color: #ff7801;
}

/*-------Стили для ссылок в блоке nav------*/

.main_nav {
    margin-top: 40px;   /*Отодвигаем блок кнопок от заголовка*/
}

.main_nav a{
    color:inherit;
    text-decoration: none;
    padding: 13px 26px;  /*Задаем отступы от текста внутри кнопки*/ 
}
  
.main_nav a:visited {
    color: inherit;
}
  
.main_nav a:hover {
    color: #ffefcf;
}

/*-------------------Стили для article--------------*/

.all-info {
    display: flex;
    flex-direction: column;
    margin-left: 15%;    /*Задаем отступы справа и слева для body*/
    margin-right: 15%;
}
  
.all-info li {
    list-style-type: none;
}
  
.all-info h2 {
    width: auto;
}

/*-------------------Стили для всего блока about-me--------------------*/

.main_img {
    width: 400px;
    height: 600px;
}

.wrapper {
    margin-left: 80px; /*Отодвигаем блок текста от изображения*/
}

.about-me {
    display: flex;
}

/*---------------Стили для блока about-me (Заголовок)----------------------*/

.about-me_menu {
    padding-top: 6px; /*Увеличиваем отступы в заголовке*/
    padding-bottom: 20px;
}

.about-me_menu_h4 {
    position: relative;
    padding-bottom: 12px;   /*Смещаем маленький заголовок внутри блока*/
    padding-left: 8px;
}

.about-me_menu_h4::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -3px;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color:#FFA501;
}

/*----------------Стили для блока about-me (Информация)--------------------*/

.about-me_work-info {
    display: flex;
    flex-wrap: wrap;
}

.about-me_work-info p {
    margin-top: 20px;   /*Задаем отступы для текста внутри блоков p */
}

.work-info_container {
    position: relative;
    width: 270px;
}

.work-info_container_1 {
    position: relative;
    width: 270px;
}

.work-info_container::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -4px;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color:#FFA501;
}

.work-info_container_1::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -4px;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color:#FFA501;
}

.work-info_container_text {
    padding-top: 25px; /*Смещаем названия отделов внутри их блоков*/
    margin-left: 50px;   /*Смещаем сами блоки относительно друг друга*/
    width: 200px;
}


/*----------Стили для маленьких изображений--------------*/

.work-info_img {
    margin-top: 32px;   /*Двигаем блок картинки на его место*/
    margin-left: 9px;
    width: 28px;
    height: 28px;
}

.work-info_img_1 {
    margin-top: 32px;  /*Двигаем блок картинки на его место*/
    margin-left: 9px;
    width: 20px;
    height: 28px;
}

.work-info_img_2 {
    margin-top: 32px;  /*Двигаем блок картинки на его место*/
    margin-left: 10px;
    width: 28px;
    height: 28px;
}

.web_img {
    content: "";
    position: absolute;
}

.app-dev_img {
    content: "";
    position: absolute;
}

.ux-ui_img {
    content: "";
    position: absolute;
}







/*-------С этим пока не работаю-----------*/

  
.portfolio_works_img {
    width: 220px;
    height: 220px;
    margin-left: 5px;
    margin-right: 10px;
    object-fit: cover;
}  
  
.experience-work_container {
    display: flex;
    margin-left: 10px;
    padding: 20px;
}
  
.education_container {
    display: flex;
    width: 450px;
}
  
.work_container {
    display: flex;
    width: 450px;
}

.contacts_media img {
    width: 50px;
    height: 50px;
}

/*---------------------Стили для блока skills----------------------*/

.skills_container {
    display: flex;
}
  
.skills_container div {
    border: 1px solid black;
    margin-left: 10px;
    padding: 20px;
    width: 220px;
    height: auto;
}
  
.skills_img {
    width: auto;
    height: 50px;
}

/*-------------------------Стили для фигур--------------------------*/

.orange-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFA501;
}

.small-orange-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFA501;
}

.orange-line {
    width: 50px;
    height: 3px;
    background-color: #FFA501;
    margin-top: 8px;
}

.big-black-line {
    width: 1px;
    height: 280px;
    background-color: #000000;
}

.small-black-line {
    width: 45px;
    height: 1px;
    background-color: #000000;
}